.bread-crumb-container {
    background: #38355C;
    color: #e9e5f6;
    text-align: left;
    padding: 8px 5px 5px 30px;
}

.bread-crumb a, a:hover {
    text-decoration: none;
    color: #e9e5f6;
}