
.App {

}

.App-header {
  background: url('//ptcdn.info/doodle/2017/30oct2017-bg.png') repeat top center;
  height: 221px;

  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  padding-top: 30px;
}